body {
    margin: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    outline: 2px solid black;
}

h1 {
    font-size: 50px;
    border: 2px solid black;
}

.players {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.player-one {
    font-size: 40px;
    border: 2px solid red;
}

/* adds shadow effect to player one */
.player-one-shadow {
    box-shadow: 10px 8px 6px 4px rgb(255, 0, 81);
}

.player-two {
    font-size: 40px;
    border: 2px solid blue;
}

/* adds shadow effect to player two */
.player-two-shadow {
    box-shadow: 10px 8px 6px 4px rgb(0, 132, 255);
}

.scores {
    display: flex;
    justify-content: space-between;
}

.score-one {
    font-size: 35px;
    padding-left: 40px;
}

.score-two {
    font-size: 35px;
    padding-right: 40px;
}

/* adds shadow effect to the scores */
.score-shadow {
    box-shadow: 8px 6px 4px 2px rgb(255, 200, 0);
}

/* board size */
.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-content: center;
}

/* individual sizes of squares */
.square {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

/* cross symbol/image */
.red {
    content: url('./images/cross-image.png')
}

/* circle symbol/image */
.blue {
    content: url('./images/circle-image.png')
}
